@{
    ViewData["Title"] = "Página Inicial";
}

<div class="mt-5 pt-5">
    <h1 class="">NOSSO PROJETO</h1>
    <p>Realizamos uma seleção incrível de cosméticos de marcas renomadas como Dior, Gucci e Tarte, todos cuidadosamente escolhidos para proporcionar qualidade excepcional. Sabemos que a maquiagem é uma forma poderosa de autoexpressão, e acreditamos que cada mulher merece se sentir confiante e bonita. Nossa missão é oferecer produtos que não apenas realcem a sua beleza única, mas também respeitem o seu bolso. </p>
    <img class="w-100 d-none d-md-flex" src="~/img/modelohome.png" />
    <img class="w-100 d-flex d-md-none" src="~/img/modelohomecelulinho.png" />
</div>
