@{
    ViewData["Title"] = "Sobre a Equipe";
    {
        <style>
            #sobre {
                height: 100dvh;
                margin-top: -5% !important;
            }
        </style>
    }
}
<div id="sobre" class="d-flex flex-column justify-content-center align-items-center m-0 p-0">
    <div class="row">
        <div class="col-6 col-md-8 flex-column flex-md-row rounded rounded-5 d-flex justify-content-around justify-content-md-center" style="background:#FBE2E8">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="w-50 m-0 p-0" src="~/img/juju.png" />
                <h2 class="m-0 p-0">JULIANA</h2>
                <p class="m-0 p-0">＠jujumf_</p>
                <h6 class="m-0 p-0">Revendedora da Dior</h6>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="w-50 m-0 p-0" src="~/img/loh.png" />
                <h2 class="m-0 p-0">LORENA</h2>
                <p class="m-0 p-0">＠lorenazanon.dix</p>
                <h6 class="m-0 p-0">Revendedora da Gucci</h6>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="w-50 m-0 p-0" src="~/img/may.png" />
                <h2 class="m-0 p-0">MAYSA</h2>
                <p class="m-0 p-0">＠strwmay</p>
                <h6 class="m-0 p-0">Revendedora da Tarte</h6>
            </div>
        </div>
        <div class="col-6 col-md-4 d-flex flex-column justify-content-center align-items-center">
            <img class="w-75" src="~/img/bow 1.png" />
            <h1 class="text-center">NOSSA EQUIPE</h1>
            <div class="d-flex d-md-none text-end pt-3 pe-5" style="font-size:8pt;">
                Nós, as idealizadoras da Girly Cosmetic Shop, desenvolvemos um site de cosméticos unindo nossas habilidades adquiridas no curso de Desenvolvimento de Sistemas do Senai, com apenas 16 anos. Cada uma de nós focou em sua área de destaque, seja na pesquisa, no desenvolvimento ou até em aconselhamentos sobre o projeto. Com a contribuição de todas, criamos nosso site de banco de dados onde iremos armazenar produtos cosméticos de qualidade e renome.
            </div>
        </div>
    </div>
    <div class="d-none d-md-flex row container text-end pt-3 pe-5">
        Nós, as idealizadoras da Girly Cosmetic Shop, desenvolvemos um site de cosméticos unindo nossas habilidades adquiridas no curso de Desenvolvimento de Sistemas do Senai, com apenas 16 anos. Cada uma de nós focou em sua área de destaque, seja na pesquisa, no desenvolvimento ou até em aconselhamentos sobre o projeto. Com a contribuição de todas, criamos nosso site de banco de dados onde iremos armazenar produtos cosméticos de qualidade e renome.
    </div>
</div>