html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258CFB;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*    margin-bottom: 60px;*/
    background: #FFF5F8;
}

nav, footer {
    background: #FDBACD !important;
}

/*HOVER DA NAV-BAR*/
.nav-link, .navbar {
    padding-bottom: 0 !important;
}

    .nav-link:hover {
        color: #3A2727 !important;
    }

/*TÍTULO COM SEARCH E ADD*/

.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #BEB1B3;
}

.search-input {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #BEB1B3;
    color: #fff;
    font-size: 1rem;
    width: 250px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #3A2727;
    color: #fff;
    cursor: pointer;
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #3A2727;
    border-radius: 10%;
    background-color: #FFF5F8;
    color: #3A2727;
    cursor: pointer;
}

/*TABELA*/

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #ffb6c1;
}


    .table thead th {
        font-weight: bold;
        text-align: left;
        padding: 8px;
        background-color: #fff5f8;
        color: #ffb6c1;
        border-bottom: 2px solid #ffb6c1;
    }


    .table tbody td {
        padding: 8px;
        border-bottom: 1px solid #ffb6c1;
        text-align: left;
        background-color: #fff5f8;
    }


        .table tbody td a, .linkEmail {
            color: #ffb6c1;
            text-decoration: none;
            margin: 0 4px;
        }

            .table tbody td a:hover, .linkEmail:hover {
                color: #ff7f96;
                text-decoration: underline;
            }


            .table tbody td a i {
                font-size: 14px;
            }


    .table thead th, .table tbody td {
        text-align: center;
    }


    .table tbody tr:hover {
        background-color: #ffeff2;
    }

.btn-primary {
    --bs-btn-color: #FFF5F8;
    --bs-btn-bg: #FDBACD;
    --bs-btn-border-color: #FDBACD;
    --bs-btn-hover-color: #FFF5F8;
    --bs-btn-hover-bg: #fbaac1;
    --bs-btn-hover-border-color: #fbaac1;
    --bs-btn-focus-shadow-rgb: #fbaac1;
    --bs-btn-active-color: #FFF5F8;
    --bs-btn-active-bg: #FDBACD;
    --bs-btn-active-border-color: #fbaac1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.form-control, .form-control:focus {
    color: #3A2727;
    background-color: #fff5f8;
    background-clip: padding-box;
    border: solid #FDBACD;
}

.text-muted {
    color: #FDBACD !important;
}



.login-container, .register-container {
    background-color: #ffecf2;
    padding: 20px;
    border-radius: 0px;
    margin-top: 100px;
}

    .login-container h2 {
        color: #f48fb1;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
    }

/* Inputs */
.input-pink {
    border: 1px solid #3A2727;
    border-radius: 20px;
    height: 45px;
    font-size: 16px;
    padding: 0 10px;
}

    .input-pink:focus {
        outline: none;
        border-color: #f48fb1;
        box-shadow: 0 0 4px rgba(244, 143, 177, 0.5);
    }

/* Botões */
.btn-pink {
    background-color: #FDBACD;
    border: none;
    color: #FFF5F8;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 42px;
}

    .btn-pink:hover {
        background-color: #FFA6BF;
        color: #FFF5F8
    }

.btn-brown {
    background-color: #897779;
    border: none;
    color: #FFF5F8;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 42px;
}

    .btn-brown:hover {
        background-color: #7C6568;
        color: #FFF5F8
    }

/* Links */
.link-pink {
    color: #f48fb1;
    text-decoration: none;
    font-size: 14px;
}

    .link-pink:hover {
        text-decoration: underline;
    }

/* Divisor */
.divider {
    position: center;
    text-align: center;
    color: #3A2727;
    font-size: 14px;
}

    .divider:before,
    .divider:after {
        width: 40%;
        border-bottom: 1px solid #3A2727;
        margin: 0 5px;
    }

.text {
    color: #FDBACD;
}

.nav-link {
    color: #FDBACD;
}


.active {
    background-color: #FDBACD !important;
}

table {
    width: 100%;
    border-collapse: collapse; /* Evita espaços extras entre as células */
}
