@model ProjetoBackend.Models.Compra

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex my-5">
    <a asp-action="Index" class="btn btn-link text-dark">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </a>
    <h1>EDITAR COMPRAS</h1>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="row mb-3">
        <div class="col-6">
            <label asp-for="FornecedorId" class="form-label fw-bold text-muted">Fornecedor</label>
            <select asp-for="FornecedorId" class="form-control" asp-items="ViewBag.FornecedorId"></select>
            <span asp-validation-for="FornecedorId" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="DataCompra" class="form-label fw-bold text-muted">Data</label>
            <input type="date" asp-for="DataCompra" class="form-control" />
            <span asp-validation-for="DataCompra" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="ValorTotal" class="form-label fw-bold text-muted">Valor Total</label>
            <input asp-for="ValorTotal" class="form-control" />
            <span asp-validation-for="ValorTotal" class="text-danger"></span>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100 fw-bold text-uppercase">Confirmar</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
