@model ProjetoBackend.Models.Cliente

@{
    ViewData["Title"] = "Adicionar";
}

<div class="d-flex my-5">
    <a asp-action="Index" class="btn btn-link text-dark">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </a>
    <h1>ADICIONAR CLIENTE</h1>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="Nome" class="form-label fw-bold text-muted">Nome</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="Email" class="form-label fw-bold text-muted">E-mail</label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="CnpjCpf" class="form-label fw-bold text-muted">CPF</label>
            <input asp-for="CnpjCpf" class="form-control" />
            <span asp-validation-for="CnpjCpf" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Celular" class="form-label fw-bold text-muted">Celular</label>
            <input asp-for="Celular" class="form-control" oninput="formatarTelefone(this)" />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8">
            <label asp-for="DataNascimento" class="form-label fw-bold text-muted">Data de Nascimento</label>
            <input type="date" asp-for="DataNascimento" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100 fw-bold text-uppercase">Cadastrar</button>
        </div>
    </div>

    <input type="hidden" asp-for="DataCadastro" />
    <input type="hidden" asp-for="CadastroAtivo" />
</form>

<div class="text-center mt-4">
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
