@model ProjetoBackend.Models.Produto

@{
    ViewData["Title"] = "Adicionar";
}

<div class="d-flex my-5">
    <a asp-action="Index" class="btn btn-link text-dark">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </a>
    <h1>ADICIONAR PRODUTO</h1>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="Nome" class="form-label fw-bold text-muted">Nome</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label asp-for="Preco" class="form-label fw-bold text-muted">Preço</label>
            <input asp-for="Preco" class="form-control" />
            <span asp-validation-for="Preco" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Estoque" class="form-label fw-bold text-muted">Estoque</label>
            <input asp-for="Estoque" class="form-control" />
            <span asp-validation-for="Estoque" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8">
            <label asp-for="CategoriaId" class="form-label fw-bold text-muted"></label>
            <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100 fw-bold text-uppercase">Cadastrar</button>
        </div>
    </div>
</form>

<div class="text-center mt-4">
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
